<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>music</key>
	<dict>
		<key>categoryId</key>
		<integer>34</integer>
		<key>genre</key>
		<dict>
			<key>blues</key>
			<dict>
				<key>genreId</key>
				<integer>2</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>comedy</key>
			<dict>
				<key>genreId</key>
				<integer>3</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>childrensmusic</key>
			<dict>
				<key>genreId</key>
				<integer>4</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>classical</key>
			<dict>
				<key>genreId</key>
				<integer>5</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>country</key>
			<dict>
				<key>genreId</key>
				<integer>6</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>electronic</key>
			<dict>
				<key>genreId</key>
				<integer>7</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>holiday</key>
			<dict>
				<key>genreId</key>
				<integer>8</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>opera</key>
			<dict>
				<key>genreId</key>
				<integer>9</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>singersongwriter</key>
			<dict>
				<key>genreId</key>
				<integer>10</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>jazz</key>
			<dict>
				<key>genreId</key>
				<integer>11</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>latino</key>
			<dict>
				<key>genreId</key>
				<integer>12</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>newage</key>
			<dict>
				<key>genreId</key>
				<integer>13</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>pop</key>
			<dict>
				<key>genreId</key>
				<integer>14</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>randbsoul</key>
			<dict>
				<key>genreId</key>
				<integer>15</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>soundtrack</key>
			<dict>
				<key>genreId</key>
				<integer>16</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>dance</key>
			<dict>
				<key>genreId</key>
				<integer>17</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>hiphoprap</key>
			<dict>
				<key>genreId</key>
				<integer>18</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>world</key>
			<dict>
				<key>genreId</key>
				<integer>19</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>alternative</key>
			<dict>
				<key>genreId</key>
				<integer>20</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>rock</key>
			<dict>
				<key>genreId</key>
				<integer>21</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>christianandgospel</key>
			<dict>
				<key>genreId</key>
				<integer>22</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>vocal</key>
			<dict>
				<key>genreId</key>
				<integer>23</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>reggae</key>
			<dict>
				<key>genreId</key>
				<integer>24</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>easylistening</key>
			<dict>
				<key>genreId</key>
				<integer>25</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>jpop</key>
			<dict>
				<key>genreId</key>
				<integer>27</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>enka</key>
			<dict>
				<key>genreId</key>
				<integer>28</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>anime</key>
			<dict>
				<key>genreId</key>
				<integer>29</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>kayokyoku</key>
			<dict>
				<key>genreId</key>
				<integer>30</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>fitnessandworkout</key>
			<dict>
				<key>genreId</key>
				<integer>50</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>kpop</key>
			<dict>
				<key>genreId</key>
				<integer>51</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>karaoke</key>
			<dict>
				<key>genreId</key>
				<integer>52</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>instrumental</key>
			<dict>
				<key>genreId</key>
				<integer>53</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>brazilian</key>
			<dict>
				<key>genreId</key>
				<integer>1122</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>spokenword</key>
			<dict>
				<key>genreId</key>
				<integer>50000061</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>disney</key>
			<dict>
				<key>genreId</key>
				<integer>50000063</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>frenchpop</key>
			<dict>
				<key>genreId</key>
				<integer>50000064</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>germanpop</key>
			<dict>
				<key>genreId</key>
				<integer>50000066</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
			<key>germanfolk</key>
			<dict>
				<key>genreId</key>
				<integer>50000068</integer>
				<key>subGenre</key>
				<dict/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
